body {
    background-color: rgb(235, 228, 235);
  }
  
  /*Neon*/
  p {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 20px 0;
    color: #ffffff;
  }
  a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  p:nth-child(1) a {
    color:#0F640F;
    font-family: Pacifico;
  }
  p:nth-child(1) a:hover {
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
  }
  p a:hover {
    color: #ffffff;
  }
  /*glow for webkit*/
  @-webkit-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px#0F640F, 0 0 70px#0F640F, 0 0 80px#0F640F, 0 0 100px#0F640F, 0 0 150px#0F640F;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px#0F640F, 0 0 35px#0F640F, 0 0 40px#0F640F, 0 0 50px#0F640F, 0 0 75px#0F640F;
    }
  }
  /*glow for mozilla*/
  @-moz-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px#0F640F, 0 0 70px#0F640F, 0 0 80px#0F640F, 0 0 100px#0F640F, 0 0 150px#0F640F;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px#0F640F, 0 0 35px#0F640F, 0 0 40px#0F640F, 0 0 50px#0F640F, 0 0 75px#0F640F;
    }
  }
  /*glow*/
  @keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(238, 234, 234), 0 0 40px#0F640F, 0 0 70px#0F640F, 0 0 80px#0F640F, 0 0 100px#0F640F, 0 0 150px#0F640F;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px#0F640F, 0 0 35px#0F640F, 0 0 40px#0F640F, 0 0 50px#0F640F, 0 0 75px#0F640F;
    }
  }
  /*REEEEEEEEEEESPONSIVE*/
  @media (max-width: 650px) {
    #container {
      width: 100%;
    }
    p {
      font-size: 3.5em;
    }
  }
  
  .parentComponent{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
    
    div .item.carousel-item.active {
      width: 80%;
      margin-left: 10%;
    }

    .carousel-img-width {
      width: 100%;
      height: 100%;
  
      top: 100%
    }
  
  .carousel {
    width:500px;
    height:500px;
    flex-grow: 3
    }

  